@page
@model IndexModel
@{    
    // Set the title of the page
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- Main heading of the page -->
    <h1 class="display-4">Hello World from .NET 8 and copilot!</h1>
    
    <!-- Link to ASP.NET Core documentation -->
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <hr />
    
    <!-- Display the host operating system version -->
    <div>Host operating system: @Model.OSVersion</div>
    
    <hr />
    
    <!-- Input to enter postcode -->
    <div>
        <label for="postcode">Enter your postcode:</label>
        <input type="text" id="postcode" name="postcode" />
    </div>
</div>

